.book-image {
    max-height: 200px;
    scale: 1;
    transition: 0.2s all;
    cursor: pointer;
}

.book-image:hover {
    scale: 1.1;
}

.book-list {
    --book-width: 200px;
    display: flex;
    margin-right: 25px;
    align-items: center;
}

.book-list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
    text-align: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.book-list li {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    scroll-snap-align: start;
    width: var(--book-width);
}

.fine {
    color: red;
}

#member-name {
    color: red;
}

.scroll-button {
    background-color: rgb(255, 0, 0);
    color: white;
    height: 30px;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 30px;
    padding: 0;
    border: none;
}

.banner-and-logo .banner {
    height: 200px;
}

@media screen and (max-width: 500px) {
    .book-list {
        justify-content: center;
    }
    .book-list ul {
        width: 200px;
    }
}