.book-image {
    max-height: 200px;
}

#currently-borrowed {
    display: flex;
    overflow-x: auto;
    gap: 1em;
    background-color: rgb(190, 190, 190);
}

#favorites {
    display: flex;
    overflow-x: auto;
    gap: 1em;
    background-color: rgb(190, 190, 190);
}

#currently-borrowed li {
    display: flex;
    flex-direction: column-reverse;
}

#member-name {
    color: red;
}